<h3>Enter your mobile number</h3>

<form method="post" action="/QrPayment/CheckMobile">
    <div class="form-group">
        <input type="text" name="phone" class="form-control" placeholder="05XXXXXXXX" required />
    </div>
    <button type="submit" class="btn btn-primary mt-3">OK</button>
</form>
