@{
    ViewData["Title"] = "Payment Success";
    var ordernumber = ViewBag.OrderNumber as string;
}

<div class="container text-center mt-5">
    <h1 style="color:green;">✅ Payment Successful</h1>

    <p>Your transaction has been completed successfully.</p>

    @if (!string.IsNullOrEmpty(ordernumber))
    {
        <p><b>Order Number:</b> @ordernumber</p>
    }

    <a href="/QrPayment" class="btn btn-success mt-3">Back to Home</a>
</div>
